<head>
  <script>
    $(document).keypress(function(e) {
      var key = e.which;

      $.ajax({
        type: "PATCH",
        data: {keypress: key},
        dataType: 'json'
      }).done(function(data) {
        $('#map').html(data.map);
      });
    });
  </script>
</head>

<div id="map">Press any key to begin.</div>
